{% extends 'layout.html' %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}

<h1>
    Welcome to Trade_IT!
</h1>

<div class="container text-center">
    <div class="row align-items-start">
    {% for object in object_list %}
        <div class="col">
            <h2><a href="{% url 'posts:post' object.slug %}">{{object}}</a></h2>
            <h2>Price: {{object.price}}zł</h2>
            {% if object.image %}
                <img src={% static object.image %}>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>


{% endblock content %}