<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        {% block head %}

        {% endblock head%}
        <title>Trade_IT</title>
    </head>
    <body>
        
        <a href="{% url 'posts:home' %}">
            Home
        </a>
        {% if not user.is_authenticated %}
            <a href="{% url 'users:sign_up' %}">
                Sign Up
            </a>

            <a href="{% url 'users:login' %}">
                Login
            </a>
        {% else %}
            <a href="{% url 'users:profile' user.username %}">
                Profile
            </a>
            <a href="{% url 'posts:create_post' %}">
                Post Item
            </a>
            <a href="{% url 'users:logout' %}">
                Logout
            </a>
        {% endif %}
        
        {% block content %}

        {% endblock content%}

    </body>
</html>